.game-display {
  display: flex;
  margin: 20px auto;
  align-items: center;
  width: 89%;
  gap: 10px;
}

.game-display .card {
  width: 200px;
}

.game-display__btn-next-card {
  width: 14em;
  padding: 20px;
  display: block;
  margin: 10px auto;
}
