@keyframes animationFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-loading.modal-wrapper {
  background-color: #000;
  opacity: 1;
  animation: 5s animationFadeOut;
}

@keyframes animationRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-loading__icon-loading {
  animation: 3s animationRotate;
  animation-iteration-count: infinite;
}
