:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
body,
#root {
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 12px;
  margin: 0.3em 0.8em;
  padding: 0.2em 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e0ab6b;
  color: #3d0e0a;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
  width: fit-content;
  height: fit-content;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

button:hover {
  background-color: #e0ab6b;
  color: #3d0e0a;
  background-color: #213547;
  color: #fff;
}
button:hover svg.icon-svg path {
  stroke: #fff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center;
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}

.flex-direction-column {
  flex-direction: column;
}

.m-auto {
  margin: auto;
}
